@charset "UTF-8";

.header {
	text-align: center;
	margin-top: 0px;
	padding: 5px;
	background-color: #f9c146;
	width: 100%;
	height: 75px;
	color: white;
}

.soudan {
	color: white;
	margin-top: 0px;
	background-color: #5abca5;
	width: 100%;
	padding: 5px;
}

.ct {
	text-align: center;
}

.mg {
	margin: auto;
}

.a {
	background-color: #e0f2ed;
}

.button {
	display: inline-block;
	border-radius: 14%; /* 角丸       */
	font-size: 10pt; /* 文字サイズ */
	text-align: center; /* 文字位置   */
	cursor: pointer; /* カーソル   */
	padding: 5px 4px; /* 余白       */
	background: #5abca5; /* 背景色     */
	color: #ffffff; /* 文字色     */
	line-height: 1em; /* 1行の高さ  */
	opacity: 0.9; /* 透明度     */
	transition: .3s; /* なめらか変化 */
}

.button:hover {
	box-shadow: none; /* カーソル時の影消去 */
	opacity: 1; /* カーソル時透明度 */
}

.FixedBar {
	width: 40px;
	height: 40px;
}

footer {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	text-align: center;
	background: white;
	margin-top: 10px;
	padding: 10px 0;
}

.Menu {
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	background-color: #e0f2ed;
	color: #111;
	display: flex;
	flex-direction: column;

}

.Menu-CloseBtn {
	position: absolute;
	top: 0;
	right: 0;
	padding: 8px;
}

.Menu-CloseBtn-Icon {
	width: 32px;
	color: #111;
}

.Menu-Group {
	display: flex;
	flex-wrap: wrap;
	padding: 32px 12px;
}

.Menu-Group>*+* {
	border-top: solid 2px #111;
}

.Menu-Group-Item {
	width: 100%;
	flex: auto;
	padding: 4px;
}

.Menu-Group-Item-Link {
	padding: 1em 0.5em;
	display: flex;
	font-size: 20px;
	font-weight: bold;
	letter-spacing: 0.02em;
}