  footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    background: #6898d8;
    padding: 20px 0;
    box-shadow: 0 -2px 5px rgba(0,0,0,0.2);
}
#nav li {
    display: inline;		/* インラインで横に表示する */
    list-style-type: none;	/* 先頭の記号をなくす */
    padding-right: 30px;		/* 区切りを空ける */
  }