/*@charset "UTF-8";*/

/*スマホ画面サイズに調整するCSS*/

html{
    font-size: 18px;
    background-color: #eeeeee;
    font-family: "Noto Sans JP", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

body{
    margin: 0 0 0 0;
    background: #eeeeee;
    color: #5e5e5e;
}

/*---ログイン--------------------------------------------*/

/*囲み白ボックス*/

/*ひろしninaruのロゴサイズ調整*/

/*ユーザーネームinput欄*/

/*パスワードinput欄*/

/*ログインボタン*/

/*新規登録ボタン*/

.button:hover{
    background: #f5a200;
}

.button-panel .button {
    background: #95c51b;
    border: none;
    color: #fff;
    cursor: pointer;
    height: 50px;
    font-size: 1.2em;
    letter-spacing: 0.05em;
    text-align: center;
    text-transform: uppercase;
    transition: 0.3s ease-in-out;
    width: 100%;
  }
  .button-panel .button {
    background: #95c51b;
    margin-right: 20px;
    margin-left: 20px;
    border: none;
    color: #fff;
    cursor: pointer;
    height: 50px;
    letter-spacing: 0.05em;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    transition: 0.3s ease-in-out;
    width: 250px;
  }
  .button:hover {
    background: #f5a200;
  }

/*---新規登録--------------------------------------------*/

/*囲み白ボックスはログイン画面と同じ↑*/

/*ひろしninaruのロゴサイズ調整*/

/*ユーザーネームinput欄*/

/*パスワードinput欄*/

/*ログインボタン*/

/*新規登録ボタン*/


/*---ホーム----------------------------------------------*/

/*共通ツールバー【トップ＆フッター固定部分】*/

header{
    margin-top: 0px;
    padding: 20px;
    background-color: white;
  }

nav{

}

footer{
    margin-top: 20px;
    padding: 1px;
    padding-left: 20px;
    background-color: white;
    font-size: 16px;
}


/*---相談所トップ--------------------------------------------*/

/*---相談所チャンネル--------------------------------------------*/

/*---ハンドブックトップ--------------------------------------------*/

/*---ハンドブック衣食住の各ページトップ----------------------------*/

/*---ハンドブック知識ページ---------------------------------------*/

/*---ハンドブックテストスタート画面------------------------------*/

/*---ハンドブックテスト画面-------------------------------------*/

/*---記録書一覧ページ--------------------------------------------*/


